#Table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}


#Table td, #Table th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #ddd;
    text-align: center;
    vertical-align: middle;
}

#Table th {
    text-align: left;
    background-color: #ddd;
}

.ElectionResult {
    margin-top: 5%;
    margin-left: 21%;
}

.us_flag {
    width: 75%;
    height: 30%;
}

.winner {
    background-color: black;
    color: white;
    margin-top: 5%;
    margin-left: 21%;
    margin-right: 21%;
    text-align: center;
}